<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guany.myscaffold.mapper.RoleMapper">

    <select id="selectRole" resultType="com.guany.myscaffold.entity.RoleEntity">
        select * from t_role where deleted = 0
        <if test="roleCode != null and roleCode != '' ">
            AND role_code = #{roleCode}
        </if>
        <if test="roleName != null and roleName != '' ">
            AND role_name = #{roleName}
        </if>

    </select>
</mapper>
